<div>
  <h2 id="page-heading" data-cy="ProdutosHeading">
    <span jhiTranslate="storeApp.produtos.home.title">Produtos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="storeApp.produtos.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-produtos"
        [routerLink]="['/produtos/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="storeApp.produtos.home.createLabel">Create a new Produtos</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="produtos?.length === 0">
    <span jhiTranslate="storeApp.produtos.home.notFound">No Produtos found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="produtos && produtos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nome">
            <div class="d-flex">
              <span jhiTranslate="storeApp.produtos.nome">Nome</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="preco">
            <div class="d-flex">
              <span jhiTranslate="storeApp.produtos.preco">Preco</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="categoria">
            <div class="d-flex">
              <span jhiTranslate="storeApp.produtos.categoria">Categoria</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="imagem">
            <div class="d-flex">
              <span jhiTranslate="storeApp.produtos.imagem">Imagem</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody
        infinite-scroll
        (scrolled)="loadPage(page + 1)"
        [infiniteScrollDisabled]="page - 1 >= links['last']"
        [infiniteScrollDistance]="0"
      >
        <tr *ngFor="let produtos of produtos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/produtos', produtos.id, 'view']">{{ produtos.id }}</a>
          </td>
          <td>{{ produtos.nome }}</td>
          <td>{{ produtos.preco }}</td>
          <td>{{ produtos.categoria }}</td>
          <td>{{ produtos.imagem }}</td>
          <td class="text-end">
            <div class="btn-group">
              <a [routerLink]="['/produtos', produtos.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </a>

              <a [routerLink]="['/produtos', produtos.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </a>

              <button type="submit" (click)="delete(produtos)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
