<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="produtos">
      <h2 data-cy="produtosDetailsHeading"><span jhiTranslate="storeApp.produtos.detail.title">Produtos</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ produtos.id }}</span>
        </dd>
        <dt><span jhiTranslate="storeApp.produtos.nome">Nome</span></dt>
        <dd>
          <span>{{ produtos.nome }}</span>
        </dd>
        <dt><span jhiTranslate="storeApp.produtos.preco">Preco</span></dt>
        <dd>
          <span>{{ produtos.preco }}</span>
        </dd>
        <dt><span jhiTranslate="storeApp.produtos.categoria">Categoria</span></dt>
        <dd>
          <span>{{ produtos.categoria }}</span>
        </dd>
        <dt><span jhiTranslate="storeApp.produtos.imagem">Imagem</span></dt>
        <dd>
          <span>{{ produtos.imagem }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/produtos', produtos.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
